#container {
	display: grid;
	grid-template-columns: auto 80% auto;
	grid-template-areas: ". shape .";
	height: 100vh;
	background-color: #ffffff;

	> div {
		grid-area: shape;

		#shape {
			height: 100px;
			width: 100px;
			background-color: #720316;
			border-radius: 30%;
			border: solid 10px #3d000a;
			margin: 5%;
		}
	}
}