#container {
	background-color: #ffffff;
	display: grid;
	grid-template-areas: ". shape .";
	grid-template-columns: auto 80% auto;
	height: 100vh;

	>div {
		grid-area: shape;

		#shape {
			background-color: #720316;
			border: solid 10px #3d000a;
			border-radius: 30%;
			height: 100px;
			margin: 5%;
			width: 100px;
		}
	}
}